@import '../../../_styles/mixins'
@import '../../../_styles/variables'

.report__create
  min-height: 90vh
  @include flex-position(row, center, flex-start)

  .container
    width: 33.333%
    padding: 15px 0 0 0
    background-color: $white
    @include box-shadow

    .form__create
      height: 60vh
      padding: 0px 50px 35px 50px
      @include flex-position(column, center, flex-start)
