@import '../../../../_styles/mixins'
@import '../../../../_styles/variables'

.error__list
  width: 18%
  padding: 20px
  background-color: $white
  margin-left: 50px
  @include box-shadow

  h2
    width: 80%
    margin: 0 auto
    padding: 10px 0
    color: darkred

  ul
    width: 80%
    margin: 10px auto

    li
      padding: 5px 10px
      .error__item
        color: darkred

@media (max-width: 1640px)
  .error__list
    width: 22%

@media (max-width: 1340px)
  .error__list
    width: 28%

@media (max-width: 1024px) and (orientation: portrait)
  .error__list
    width: 28%

@media (max-width: 768px) and (orientation: portrait)
  .error__list
    width: 35%
    margin-left: 20px

@media (max-width: 414px) and (orientation: portrait)
  .error__list
    width: 85%
    margin: 25px 0 25px 0

@media (max-width: 375px) and (orientation: portrait)
  .error__list
    width: 90%

@media (max-width: 812px) and (orientation: landscape)
  .error__list
    width: 33.333%
    margin-left: 20px

@media (max-width: 568px) and (orientation: landscape)
  .error__list
    width: 37%
    margin-left: 10px
