@import ../../../_styles/mixins.sass
@import ../../../_styles/variables.sass

.register
  min-height: calc(100vh - 115px)
  @include flex-position(row, center, center)

  .container
    width: 480px
    padding: 15px 0 0 0
    background-color: $white
    @include box-shadow

    .register__form
      height: 480px
      padding: 0px 50px 35px 50px
      @include flex-position(column, center, flex-start)

      .form__submit
        height: 47px
        width: 100%
        margin: 15px 0
        border-radius: 8px
        color: $white
        font-size: 1em
        font-weight: bold
        background-color: $lightBlue
        cursor: pointer

@media (max-width: 1024px)
  .register
    min-height: calc(100vh - 130px)
    flex-direction: column-reverse

@media (max-width: 500px)
  .register
    .container
      width: 350px

      .register__form
        height: 400px
        padding: 0px 30px 10px 30px

@media (max-width: 320px)
  .register
    .container
      width: 280px

      .register__form
        height: 340px
        padding: 0px 15px 10px 15px
