@import '../../../../_styles/mixins'
@import '../../../../_styles/variables'

.status__filters
  margin-bottom: 50px
  @include flex-position(row, center, center)

  .filter__dropdown
    flex-basis: 100%
    cursor: pointer
