@import '../../../../_styles/mixins'
@import '../../../../_styles/variables'

.status__editor
  padding: 15px 0 5px 0
  flex-wrap: wrap
  @include flex-position(row, flex-start, center)

  p
    margin-right: 10px

  .status__dropdown
    margin: 0 10px 0 0px
    width: 250px
    cursor: pointer

  button
    padding: 8px 20px
    background-color: $blue
    color: $white
    font-size: 1em
    font-family: 'Roboto', sans-serif
    cursor: pointer
    transition: .2s
    border: 1px solid $blue
    &:hover
      background-color: $white
      color: $blue
      border-color: $blue
