@import ../../../../_styles/variables.sass

.textInput__label
  width: 100%
  margin: 5px auto
  font-size: .9em
  font-family: 'Roboto', sans-serif

  .textInput__input
    width: 100%
    height: 45px
    padding: 5px 15px
    margin: 10px 0
    background-color: $lightGray
    border: 1px solid #d0d0d0
    border-radius: 8px
    display: block
    font-family: inherit
    font-size: 1em

    &:focus
      border-color: $lightBlue

@media (max-width: 1024px)
  .textInput__label
    .textInput__input
      height: 40px

@media (max-width: 500px)
  .textInput__label
    margin: 0px auto

@media (max-width: 320px)
  .textInput__label
    font-size: .75em
    .textInput__input
      height: 30px
