@import  '../../../../_styles/mixins'
@import  '../../../../_styles/variables'

.report__responses
  width: 100%
  margin: 35px 0 20px 0
  padding: 10px 35px
  background-color: $white
  @include box-shadow

  h2
    padding: 10px 0 20px 0

  ul
    list-style: square

@media (max-width: 768px)
  .report__responses
    padding: 10px 20px

    ul
      list-style: none
