@import '../../../../_styles/mixins'
@import '../../../../_styles/variables'

.confirmation__message
  min-height: calc(100vh - 115px)
  width: 80%
  margin: 0 auto
  font-size: 2em
  color: $white
  text-align: center
  @include flex-position(column, center, center)

@media (max-width: 1024px)
  .confirmation__message
    width: 90%
    min-height: calc(100vh - 130px)

@media (max-width: 768px)
  .confirmation__message
    font-size: 1.6em

@media (max-width: 500px)
  .confirmation__message
    font-size: 1.25em

@media (max-width: 320px)
  .confirmation__message
    font-size: 1em
