@import '../../../../_styles/mixins'
@import '../../../../_styles/variables'

.detailed__report
  width: 100%
  background-color: $white
  @include box-shadow

  .report__header
    padding: 20px 35px
    font-style: italic
    border-bottom: 1px solid $gray
    font-size: 1.6em

  .report__content
    padding: 20px 35px

    .content__item
      font-weight: bold
      padding: 10px 0

      span
        font-weight: normal
        font-style: italic

      a
        font-weight: normal

    .report__heading
      font-size: 1.5em

      span
        font-style: italic

      textarea
        font-size: .9em
        font-style: italic

@media (max-width: 768px)
  .detailed__report
    .report__header
      padding: 20px 20px
      font-size: 1.4em

    .report__content
      padding: 20px 20px

      .report__heading
        font-size: 1.25em
        padding-bottom: 15px
